/*reset CSS*/
h1, header, div, label, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*Definindo a cor do site*/
body {
    background: #F1F5C2;
    text-align: center;
}

/*Definindo o header*/
header {
    text-align: center;
    margin-left: 30px;
}

/*Estilização do título*/
#titulo {
    text-align: center;
    color: #000;
    font-family: 'Kameron';
    font-weight: 700;
    font-size: 48px;
    font-style: normal;
    line-height: normal;
    margin-top: 10px;
}

/*Estilização do subtitulo*/
#subtitulo {
    text-align: center;
    color: #000;
    font-family: 'Kameron';
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}

/*Centralização das DIVs pai*/
.campo{
    display: block;
    align-items: center;
    justify-content: center;
}

/*estilização da descrição do input*/
#nometitulo {
    text-align: center;
    font-family: 'kameron';
    font-weight: 700;
    display: inline-block;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

/*Estilização do input*/
#nome {
    width: 340px;
    height: 27px;
    top: -407px;
    left: -89px;
    margin-left: 38px;
    border: solid black 1px;
}

/*estilização da descrição do input*/
#sobretitulo {
    text-align: center;
    font-family: 'kameron';
    font-weight: 700;
    display: inline-block;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-right: 10px;
}

/*Estilização do input*/
#sobrenome {
    width: 340px;
    height: 27px;
    top: -342.94px;
    left: -89px;
    margin-right: 25px;
    border: solid black 1px;
}


/*estilização da descrição do input*/
#emailtitulo {
    text-align: center;
    font-family: 'kameron';
    font-weight: 700;
    display: inline-block;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-right: 18px;
}

/*Estilização do input*/
#email {
    width: 340px;
    height: 27px;
    top: -277px;
    left: -89px;
    margin-left: 18px;
    border: solid black 1px;
}

/*estilização da descrição do input*/
#generotitulo {
    text-align: center;
    font-family: 'kameron';
    font-weight: 700;
    display: inline-block;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-right: 25px;
}

/*Estilização do input*/
#genero {
    width: 340px;
    height: 27px;
    top: -216px;
    left: -88px;
    border: solid black 1px;
}

/*estilização da descrição do input*/
#case {
    text-align: center;
    font-family: 'kameron';
    font-weight: 700;
    display: inline-block;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-top: 10px;
}

/*Estilização do input*/
#outro {
    width: 340px;
    height: 27px;
    top: -143px;
    left: -115px;
    border: solid black 1px;
}


